body {
    background: rgb(0, 247, 255);
}

h1 {
    background: rgb(220, 236, 220);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}